# MySQL Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=nahb

# MongoDB Configuration
MONGODB_URI=mongodb+srv://sterenngougeon_db_user:UByyNok3w1WBZTBa@nahb.akvltbw.mongodb.net/?appName=NAHB

# JWT Secret
JWT_SECRET=`ma_super_cle_secrete_123456789_abcdefghijklmnop`


# Server Port
PORT=3001

# Admin User (optional)
#ADMIN_USERNAME=admin
#ADMIN_EMAIL=admin@nahb.com
#ADMIN_PASSWORD=admin123

